body{
  padding-top: 70px;
  margin-right:auto;
  margin-left: auto;
  padding-bottom: 70px;
}

.navbar-fixed-bottom div.container{
  color:white;
  margin:auto;
}

.navbar-fixed-bottom div.container div{
  text-align: center;
  padding-top: 1.5rem;
}

#navbar .form-inline{
	margin-top: 0.75rem;
	font-size: 14px;
}

.navbar-form label{
  margin-bottom: 0;
}


.white{
	color:white;
}