body{
  padding-top: 70px;
  margin-right:auto;
  margin-left: auto;
  padding-bottom: 70px;
}

.navbar-fixed-bottom div.container{
  color:white;
  margin:auto;
}

.navbar-fixed-bottom div.container div{
  text-align: center;
  padding-top: 1.5rem;
}

#navbar .form-inline{
	margin-top: 0.75rem;
	font-size: 14px;
}

.navbar-form label{
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li.w-label{
    height: 50px;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.5rem;
    padding: 1.5rem 0 0 0;
    color:#9d9d9d;
}

.white{
	color:white;
}